.DS_store
vendor/
node_modules/
/public/storage
Homestead.yaml
Homestead.json

# Laravel 5 & Lumen specific
bootstrap/cache/
.env.*.php
.env.php
.env

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
/.DS_Store
.idea/dataSources/df8bab2d-eb01-4c3e-9e27-7fc95667b9f4.xml
